{% extends "portal/base.html" %}

{% load static %}

{% block custom_css %}


{% endblock custom_css %}

{% block content %}
    <!-- breadcrumb area start -->
    <!-- rts breadcrumb area start -->
    <div class="rts-breadcrumb-area one" 
     style="background-image: url('{% if banner.background_image %}{{ banner.background_image.url }}{% else %}{% static 'portal/assets/images/breadcrumb/01.webp' %}{% endif %}');">
    <div class="container h-100">
        <div class="breadcrumb-area-wrapper">
            <div class="nav-bread-crumb">
                <a href="{% url 'home' %}">Home</a>
                <span><i class="fa-regular fa-chevron-right"></i></span>
                <a href="#" class="current">About</a>
            </div>
            <h1 class="title">{{ banner.title|default:"ABOUT US" }}</h1>
        </div>
    </div>
</div>
    <!-- rts breadcrumb area end -->
    <!-- breadcrumb area end -->


    <!-- rts story area start -->
    {% if story %}
    <section class="rts-story-area rts-section-gap bg-white">
        <div class="container">
            <div class="row align-items-start">
                
                <div class="col-lg-6 col-md-12 mb-5 mb-lg-0">
                    <h2 class="section-title mb-3" style="color: #2C3E50; font-weight: 800;">
                        {{ story.title }}
                    </h2>
                    
                    <div class="dynamic-content text-secondary" style="font-size: 16px; line-height: 1.8;">
                        {{ story.description|safe }}
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="ps-lg-4">
                        {% if story.story_image %}
                            <img src="{{ story.story_image.url }}" class="img-fluid rounded shadow w-100" style="object-fit: cover; max-height: 600px;">
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endif %}
    <!-- rts story area end -->


    {% endblock content %}

    {% block custom_js %}
    
    {% endblock custom_js %}