{% load static %}

<div class="rts-footer-area-one tour-marketplace pt--100 pb--30">
    <div class="container">
        <div class="footer-inner">
            <div class="left">
                <div class="single-footer-widget-one logo-area">
                    <a href="{% url 'home' %}" class="logo">
                        {% if site_identity.logo %}
                            <img src="{{ site_identity.logo.url }}" alt="logo" style="
                            height: 80px;
                        ">
                        {% else %}
                            <img src="{% static 'portal/assets/images/logo/09.svg'%}" alt="logo">
                        {% endif %}
                    </a>
                    <p class="desc">We take care of every detail you can travel with confidence ease.</p>
                    <div class="call-us">
                        <div class="icon"><img src="{% static 'portal/assets/images/others/01.svg'%}" alt=""></div>
                        <div class="text">
                            <p>Call Us 24/7</p>
                            <h5><a href="call-to:25621452156">09678330055</a></h5>
                        </div>
                    </div>
                    <ul class="social-area">
                        <li>Follow Us -</li>
                        <li><a href="https://www.facebook.com/official.mkshippinglines?mibextid=wwXIfr&rdid=FMVA3J3Vp6aKUJCR&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F187UkpQEWi%2F%3Fmibextid%3DwwXIfr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a></li>
                        {% comment %} <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="mid d-flex justify-content-center">
                <div class="single-footer-widget-one essential-links">
                    <h6 class="title">Quick Links</h6>
                    <ul>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#BA6827" />
                            </svg>
                            <a href="{% url 'home' %}" target="_blank">Home</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#BA6827" />
                            </svg>
                            <a href="{% url 'aboutUs' %}" target="_blank">About Us</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#BA6827" />
                        </svg>
                        <a href="{% url 'team' %}" target="_blank">Leadership Profile</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#BA6827" />
                        </svg>
                        <a href="{% url 'services' %}" target="_blank">Our Services</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#BA6827" />
                            </svg>
                            <a href="{% url 'technology_innovation' %}" target="_blank">Technology & Innovation</a>
                        </li>
                    </ul>
                </div>

                <div class="single-footer-widget-one essential-links">
                    <h6 class="title">Support</h6>
                    <ul>
                        
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#119CE6" />
                            </svg>
                            <a href="{% url 'contact' %}">Contact Us</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#119CE6" />
                            </svg>
                            <a href="#">Booking Guide</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#119CE6" />
                            </svg>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0L6.75 5L0.5 10V0Z" fill="#119CE6" />
                            </svg>
                            <a href="#">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- copyright area start -->
                <div class="copyright-area-start">
                    <p>Copyright © <script>
                            document.write(
                                new Date().getFullYear()
                            )
                        </script> All Rights Reserved, Design by <span><a href="{% url 'home' %}">IGL Group</a></span></p>
                    <ul>
                        <li><a href="#"><img src="{% static 'portal/assets/images/others/payment-01.svg'%}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'portal/assets/images/others/payment-02.svg'%}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'portal/assets/images/others/payment-03.svg'%}" alt=""></a></li>
                        <li><a href="#"><img src="{% static 'portal/assets/images/others/payment-04.svg'%}" alt=""></a></li>
                    </ul>
                </div>
                <!-- copyright area end -->
            </div>
        </div>
    </div>
</div>